{
  "extends": [
    "eslint-config-airbnb-base",
    "eslint-config-airbnb-base/rules/strict"
  ],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies": 0,
    "no-console": 0
  }
}
